<% include ./partials/_head %>

<body>

<% include ./partials/_header %>

<main>

  <h1><%= hostname %>/u/<%=shortURL%></a>  - <%= fullURL %></h1>
  <% if (!fullURL) { %>
    <p>&quot;<%= shortURL %>&quot;</p>
    <% } else { %>
    <% } %>
  </h1>
  <form action="/urls/<%= shortURL %>/edit" method="post">
    <label for="longURL">Update URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" value="<%= fullURL %>" style="width: 300px">
      <input type="submit" value="Submit">
   </form>


</main>

</body>
</html>