<% include ./partials/_head %>

<body>

    <% include ./partials/_header %>


  <h2>URL and its shortened form.</h2>

  <ul>
     <% Object.keys(urls).forEach(function(key) { %>
        <li>tiny.app/<a href="<%=urls[key]%>"><%= key %> </a>
          ---
          <a href="<%= urls[key] %>"><%= urls[key] %> </a>
            <form action="/urls/<%= key %>/delete" method="POST" style="margin-left:10px;">
              <input id="shortURL" type="submit" value="Delete">
            </form>
            <form action="/urls/<%= key %>" method="GET" style="margin-left:10px;">
              <input id="shortURL" type="submit" value="Edit">
            </form>
        </li>
      <% }); %>
  </ul>
  <a href="/urls/new">Click here to shorten new URL</a>
</body>

</html>