<% include ./partials/_head %>

<body>

<% include ./partials/_header %>

<% if (currentUser) { %>

  <p>Hello, <%= currentUser.email %></p>
  <form method="post" action="/logout">
    <p>
      <button>Logout</button>
    </p>
  </form>
<% } else { %>
  <p><a href="/login">Sign In</a></p>
  <p> Please Login</p>
<% } %>
<table>
  <thead>
  <tr>
    <th>Short URL</th>
    <th>Long URL</th>
  </tr>
  </thead>
  <tbody>
  <% for (var url in urls) { %>
    <tr>
      <td><a href="<%= urls[url] %>"><%= url %></a></td>
      <td><a href="<%= urls[url] %>"><%= urls[url] %></a></td>
      <td>
        <form action="/urls/<%= url %>/edit" method="GET" id="shortURL" type="submit" value="Edit">
          <button>Edit</button>
        </form>
      </td>
      <td>
        <form action="/urls/<%= url %>/delete" method="POST" id="shortURL" type="submit" value="Delete">
          <button>Delete</button>
        </form>
      </td>
    </tr>
  <% } %>
  </tbody>

</table>
</body>
</html>



