<% include ./partials/_head %>

<body>

<% include ./partials/_header %>

<main>

  <div class="center form-container topper">
    <h2><%= hostname %>/u/<%=shortURL%></a>  - <%= fullURL %></h1>
    <% if (!fullURL) { %>
      <p>&quot;<%= shortURL %>&quot;</p>
      <% } else { %>
      <% } %>
    </h2>
    <form action="/urls/<%= shortURL %>/edit" method="post">
      <label for="longURL">
        <h3 class="center">
          Update URL:
        </h3>
      </label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" value="<%= fullURL %>" style="width: 300px">
        <br/>
        <input class="center button" type="submit" value="Submit">
     </form>
  </div>

</main>

</body>
</html>
