<% include ./partials/_head %>

<body>

<main>
<% include ./partials/_header %>


  <ul>
    <li>
      <a href="<%= fullURL %> ">tiny.app/<%= shortURL %> </a>
      ---
      <a href="<%= fullURL %>"> <%= fullURL %> </a>
    </li>
  </ul>

  <form action="/urls/<%= shortURL %>" method="POST">
    <label for="longURL">Update URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" value="<%= fullURL %>" style="width: 300px">
      <input type="submit" value="Submit">
    </form>

</main>

</body>

</html>